@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
  /* Blue colors used in design */
  --main-blue-bg: #00558B;
  --light-blue-bg: #DDE5EB;

  /* Yellow colors used in design */
  --heavy-yellow-bg: #FECFB0;
  --light-yellow-bg: #FFE3D0;
  --product-yellow-bg: #F1924D;

  /* Colors used in input responsiveness design */
  --wrong-input-red-bg: #950000;
  --correct-input-gree-bg: #0B8B00;
}

body {

}
